<!DOCTYPE html>
<html>
    <title>Midterm | Login</title>
    <link rel="stylesheet" href="/static/style.css">
<body class="contentbground">
    <header class="center">
        <h1 class="center font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MIDTERM LOGIN</h1>
    </header>
<div class="center">
    <form class="center">
        <div class="center">
            <div><input type="text"  placeholder="Username" require="required"></div>
        </div>
        <div class="center">
            <div><input type="password" placeholder="Password" require="required"></div>
        </div>
        <div class="center">
            <div><input type="submit" class="btn font" value="LOGIN"></div>
        </div>
        <div class="center">
            <hr>
        </div>
        <div class="center">
            <div><button class="btn font"><a href="register">REGISTER</a></div>
        </div>
</div>
</body>
</html>