<!DOCTYPE html>
<html>
    <title>Midterm | Register</title>
    <link rel="stylesheet" href="/static/style.css">
<body class="contentbground">
    <header class="center">
        <h2 class="center font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MIDTERM REGISTRATION</h2>
     </header>
     <div class="center">
        <form class="center">
            <div class="center">
                <div><input type="text"  placeholder="Firstname" require="required"></div>
            </div>
            <div class="center">
                <div><input type="password" placeholder="Lastname" require="required"></div>
            </div>
            <div class="center">
                <div><input type="text"  placeholder="Username" require="required"></div>
            </div>
            <div class="center">
                <div><input type="password" placeholder="Password" require="required"></div>
            </div>
            <div class="center">
                <div><input type="submit" class="btn font" value="REGISTER"></div>
            </div>
            <div class="center">
                <hr>
            </div>
    </div>
    </body>
    </html>